@import 'lib/reset';
@import 'lib/functions';
@import 'lib/vars';
@import 'lib/fonts';

@import 'nav';
@import 'header';


@import 'pages/home';
@import 'pages/page';

@import 'components/iwant';
@import 'components/textblock';
@import 'components/form';
@import 'components/text_image_block';
@import 'components/quote';
@import 'components/tabs';
@import 'pages/cal';
@import 'pages/contact';


footer {
    padding: 16px 32px;
    display: flex;
    @media (max-width: 774px) {
        justify-content: center;
        .inner {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
        }
    }
    a {
        padding-top: 8px;
    @media (min-width: 775px) {
        padding-top: 0;
        padding-left: 32px;
    }
    }
}