@import 'lib/reset';
@import 'lib/functions';
@import 'lib/vars';
@import 'lib/fonts';

@import 'nav';
@import 'header';


@import 'pages/home';
@import 'pages/page';

@import 'components/iwant';
@import 'components/textblock';
@import 'components/form';
@import 'components/text_image_block';
@import 'components/quote';
@import 'components/tabs';
@import 'pages/cal';
@import 'pages/contact';

body, html {
    background-color: #fff;

}
footer {
    padding: 16px 32px;
    display: flex;
    @media (max-width: 774px) {
        justify-content: center;
        .inner {
            display: flex;
            flex-flow: column;
            align-items: center;
            text-align: center;
        }
    }
    a {
        padding-top: 8px;
    @media (min-width: 775px) {
        padding-top: 0;
        padding-left: 32px;
    }
    }
}
ol.r {
    padding-left: 32px;
    list-style-type: upper-roman;
}
.two-col {
    display: flex;
    flex-flow: column;
    gap: 50px;
    @media (min-width: 1088px) {
        flex-flow: row;
        gap: 100px;
    }

    h3 {
        text-align: left;
        margin-bottom: 8px;
    }

    [class^="col-"] { 
        width: 100%;
        @media (min-width: 1088px) {
            width: 50%;
        }
    }
            
    .col-1 {}
    .col-2 {}
}

a.button {
    display: inline-block;
    margin-top: 16px;
    padding: 10px 20px;
    border-radius: 32px;
    background-color: $freisinn;
    color: $freisinn-background;
    height: auto;
    width: auto;
}

.footnote {
    margin-top: 50px;
    font-size: 14px;
}