<div class="i-want">
    
    <div class="wants">
    
        {% for item in i_want.wants limit: 4 %}
            <div class="want-item">
                <span class="title">{{-item.title}}</span>
            </div>
        {% endfor %}

    </div>
    
    <h2>{{i_want.title}}</h2>

    <div class="wants">
    
        {% for item in i_want.wants offset: 4 %}
            <div class="want-item">
                <span class="title">{{-item.title}}</span>
            </div>
    
        {% endfor %}
    </div>
</div>