<footer>
    <div class="inner">
        <span>© {{ 'now' | date: "%Y" }} Werkstatt für Verantwortung und Führung E.V.</span>
        <a href="/kontakt/">Kontakt</a>    
        <a href="/datenschutz/">Datenschutz</a>    
        <a href="/impressum/">Impressum</a>    
    </div>
</footer>
