<nav>
    <div class="button-wrapper" onclick="this.classList.toggle('active');">
        <span class="button button-top"></span>
        <span class="button button-bottom"></span>
    </div>

</nav>
