<nav>
    <div class="button-wrapper" onclick="this.classList.toggle('active');">
        <span class="button button-top"></span>
        <span class="button button-bottom"></span>
    </div>

    <div class="nav-container">
        <div class="mainpages">
            {% for item in collections.page %}
                {% if item.url == '/' %}
                    <a href="{{item.url}}" class="large-type" {% if page.url == item.url %} aria-current="page"{% endif %}>{{ item.data.title | fw }}</a>
                {% else %}
                    <a href="{{item.url}}" {% if page.url == item.url %} aria-current="page" class="active"{% endif %}>{{ item.data.title }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="secondarypages">
        
        </div>
    </div>
</nav>
