<section class="text-block">
{% if text_block.headline or block.headline %} 
    <h3 class="headline">{{text_block.headline or block.headline}}</h3>
{% endif %} 
    <p class="copytext">{{text_block.copytext or block.copytext | mdfy }}</p>
</section>