<section class="text-block">
    <h3 class="{text_block.headline || block.headline ? '': 'dry'}">{{text_block.headline}}{{block.headline}}</h3>
    <p class="copytext">{{text_block.copytext}}{{block.copytext}}</p>
</section>