---
layout: base.liquid
---

{% include _header.liquid %}


<main class="calendar">

    <div class="switch">
        <div class="switch-item forschungsraum" onclick="toggleGrid(this);">forschungsraum</div>
        <div class="switch-item next-level" onclick="toggleGrid(this);">next-level</div>
        <div class="switch-item freisinn" onclick="toggleGrid(this);">freisinn</div>
        <!--div class="switch-item coaching" onclick="toggleGrid(this);">coaching</div-->
        <div class="switch-item projekte-workshops" onclick="toggleGrid(this);">projekte workshops</div>
    </div>
    <div class="grid">
        {%- for post in collections.calendar -%}
             {% include _cal_grid_item.liquid %}
        {%- endfor -%}
    </div>
    <script>
        function toggleGrid(el) {
            const grid = document.querySelector('.grid');
            const elType = el.classList[1]; // forsch, next, frei etc
            const activeChild = document.querySelector('.switch-item.active'); // previously clicked item

            grid.classList.value = 'grid';

            
            if (activeChild) {

                if (el == activeChild ) {
                    activeChild.classList.remove('active')
                    grid.classList.value = 'grid';
                    
                } else if (el !== activeChild) {
                    activeChild.classList.remove('active');
                    el.classList.toggle('active');
                    grid.classList.toggle(elType);
                }

            } else {
                el.classList.toggle('active');
                grid.classList.toggle(elType);
            }
        }
    </script>
</main>

