---

layout: base.liquid
---

{% include _header.liquid %}

<main class="page {{title | slug }}">

    <div class="content">
        {{ content }}
    </div>

    {% if itemType != 'coaching' and itemType != 'impressum' %}

    <section class="kalender">
    <h3>Nächste Termine</h3>
        <div class="grid">               
            {%- for post in collections.calendar -%}
                {% if post.data.category == itemType %}
                    {% include _cal_grid_item.liquid %}
                {% endif %}
            {%- endfor -%}
        </div>
    </section>
    {% endif %}

</main>