---

layout: base.liquid
---

{% include _header.liquid %}

<main class="page {{title | slug }}">

    {% for block in sections %}
        {% assign template = block.template %}
        {% case template %}
            {% when 'quote' %}
                {% include _quote.liquid %}
            
            {% when 'text_image_block' %}
                {% include _text_image_block.liquid %}
            
            {% when 'text_block' %}
                {% include _text_block.liquid %}

            {% when 'tabs' %}
                {% include _tabs.liquid %}

            {% when 'image' %}
                {% include _single_image.liquid %}
            
            {% when 'form' %}
                {% include _form.liquid %}

        {% endcase %}
    {% endfor %}
    
    {% assign itemType = title | slug %} 
    {% comment %} itemType works {% endcomment %}
    
    {% if itemType != 'coaching' and itemType != 'impressum' %}

    <section class="kalender">
    <h3>Nächste Termine</h3>
        <div class="grid">               
            {%- for post in collections.calendar -%}
                {% if post.data.category == itemType %}
                    {% include _cal_grid_item.liquid %}
                {% endif %}
            {%- endfor -%}
        </div>
    </section>
    {% endif %}

</main>