.kalender {
    header {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        padding: 80px 32px;
        background-position: center 10%;
        background-size: cover;
        min-height: 300px;

        @media (min-width: 777px) {
            padding: 80px 32px;
        }

        h1 {
            text-align: center;
            text-shadow: none;
            color: $dark;
        }
    }
    main {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;
        row-gap: 16px;

    }

    .item {
        border: 1px solid $dark;
        padding: 16px;
        display: inline-flex;
        gap: 4px;
        flex-flow: column;
        &.forschungsraum {
            color: $forschungsraum;
            background-color: $forschungsraum-background;
        }
        &.next-level {
            color: darken($next-level-pink,10%);
            background-color: $next-level-background;
        }
        &.freisinn {
            color: $freisinn;
            background-color: $freisinn-background;
        }
        &.projekte-workshops {
            color: $projekte-workshops;
            background-color: $projekte-workshops-background;
        }
        &.coaching {
            color: $coaching;
            background-color: $coaching-background;
        }
        .more {
            display: none;
        }
        &.active .more {
            display: block;
        }

        .title {
            font-weight: 600;
        }
    }
}
.calendar-post .form-section{
    padding-top: 32px;
}
.post-description {
    padding: 32px 0;
    text-align: center;

}