header {
    padding: 115px 32px 50px;
    color: $white;
    background-size: cover;
    background-position: center;
}

.i-want {
    margin: 170px auto 0;
    padding: 40px 80px 64px;
    max-width: 1032px;
    border-radius: 32px;
    -webkit-backdrop-filter: blur(2px) saturate(100%);
    backdrop-filter: blur(2px) saturate(100%);
    background-color: rgba(#bbb, 0.2);

    .wants {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 70px;
        row-gap: 20px;
    }

    h2 {
        font-size: 6rem;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
}

.want-item {
    padding: 10px 20px;
    border-radius: 16px;
    box-shadow: 0 2px 20px -12px rgba($dark, 0.5);
    background-color: $white;
    color: $dark;
    justify-self: start;
    display: inline-flex;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
    align-self: flex-start;
    transition: transform 500ms;

    &:hover {
        transform: scale(1.02);
        transition: transform 300ms;
        .box {
            transition: background-color 300ms;
            background-color: #ffd59d;
        }
    }

    &.active {

        .box {
            background-color: #ffd59d;

            svg {
                display: block;
            }
        }
    }

    .box {
        display: inline-block;
        margin-right: 20px;
        width: 26px;
        height: 26px;
        border-radius: 6px;
        flex: 0 0 auto;
        background-color: $grey;
        transition: background-color 300ms;

        svg {
            margin: -3px 0 0 5px;
            display: none;

            path {
                stroke-dashoffset: -1;
                stroke-linejoin: round;
                stroke-linecap: round;
                animation: draw 300ms ease-in;
                stroke: #0eaa3d;

            }

            @keyframes draw {
                0% {
                    stroke-dasharray: 0 83;
                    fill-opacity: 0;
                }

                90% {
                    stroke-dasharray: 83 0;
                    fill-opacity: 0;
                }

                100% {
                    stroke-dasharray: 83 0;
                    fill-opacity: 1;
                }
            }
        }

    }
}

.text-block {
    padding: 130px 32px;
}

section {
    
}

.teasers {
    display: flex;
    flex-flow: row wrap;
    // justify-content: center;
    max-width: 1096px;
    margin: 0 auto;
    padding: 0 32px;

}

.teaser {
    max-width: 50%;
    padding: 32px;
    display: inline-block;
    flex-grow: 0;
    align-self: flex-start;
    position: relative;
    &.forschungsraum {
        color: $forschungsraum;
        background-color: $forschungsraum-background;
        .teaser-icon {
            height: 60px;
        }
    }

    &.next-level {
        color: $next-level;
        background-color: $next-level-background;
        .teaser-icon {
            height: 57px;
        }
    }
    
    &.freisinn {
        color: $freisinn;
        background-color: $freisinn-background;
        .teaser-icon {
            height: 46px;
        }
    }
    
    &.coaching {
        color: $coaching-text;
        background-color: $coaching-background;
        .teaser-icon {
            height: 60px;
        }
    }

    &.projekte {
        color: $projekte;
        background-color: $projekte-background;
    }
    .headline {padding-bottom: 12px;}
    .description {
        text-align: left;
        padding-bottom: 16px;
    }
    img.teaser-icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

.members {
    display: flex;
    justify-content: space-around;
}

.member-description {
    display: none;
    &.active {
        display: block;
    }
}