header.home {
    padding: 80px 32px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;

    position: relative;
    &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(#222,0.25);
        z-index: 1;
    }
    @media (min-width: 777px) {
        padding: 80px 32px;
    }
    
    color: $white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center 60%;
    position: relative;
    .copyright {
        display: inline-block;
        margin-top: 32px;
        position: absolute;
        bottom: 32px;right: 32px;
        z-index: 2;
    }
}

.header-content {
    position: relative;
    z-index: 2;
    max-width: 1032px;
    margin: 0 auto;
}
main.home {
    padding-bottom: 180px;
    padding-bottom: 180px;
    padding-top: 50px;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }   
    @media (min-width: 1024px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    background-color: hsl(30, 80%, 98%);
    .text-block {
        .copytext {
            line-height: 1.7;
        }
    }
}
.teasers {
    display: flex;
    flex-flow: row wrap;
    // justify-content: center;
    max-width: 1096px;
    margin: 0 auto;
    padding: 0 32px;
    gap: 16px;
}

.teaser {
    max-width: 100%;
    @media (min-width: 775px) {
        max-width: calc(50% - 16px);
    }    
    padding: 32px;
    display: inline-block;
    flex-grow: 0;
    align-self: flex-start;
    position: relative;
    transition: transform 600ms;
    &:hover {
        transform: scale(1.02);
        transition: transform 300ms;
    }
    @media (min-width: 775px) {
        &:nth-child(1) {
            border-top-left-radius: 32px;
        }
        &:nth-child(2) {
            border-top-right-radius: 32px;
        }
        &:nth-child(5) {
            border-bottom-left-radius: 32px;
        }
        &:last-child {
            border-bottom-right-radius: 32px;
        }
    }
    &.forschungsraum {
        color: $forschungsraum;
        background-color: $forschungsraum-background;

        .teaser-icon {
            height: 60px;
        }
    }

    &.next-level {
        color: $next-level;
        background-color: $next-level-background;

        .teaser-icon {
            height: 57px;
        }
    }

    &.freisinn {
        color: $freisinn;
        background-color: $freisinn-background;

        .teaser-icon {
            height: 46px;
        }
    }

    &.coaching {
        color: $coaching-text;
        background-color: $coaching-background;

        .teaser-icon {
            height: 60px;
        }
    }

    &.projekte-workshops {
        color: $projekte-workshops;
        background-color: $projekte-workshops-background;
    }
    &.kalender {
        color: lighten($dark, 20%);
        background-color: hsl(236, 21%, 87%);
        align-self: auto;
        flex: 1 1 auto;
        
    }
    .headline {
        padding-bottom: 12px;
    }

    .description {
        text-align: left;
        padding-bottom: 16px;
    }

    img.teaser-icon {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}

.team {
    padding: 130px 32px 0;
}

.members {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto 32px;
    gap: 16px;

    .member {
        cursor: pointer;
        max-width: 25%;
        min-width: 25%;
        transition: transform 400ms;

        &.order {
            &-1 { order:1}
            &-2 { order:2}
            &-3 { order:3}
            &-4 { order:4}
        }

        h5 {
            font-weight: 500;
        }

        img {
            max-width: 100%;
            filter: brightness(100%) contrast(100%);
            transition: filter 300ms;
            ;

        }

        &.active {
            transform: translate(0, -10px);
            transition: transform 300ms;
            img {
                filter: brightness(110%) contrast(105%);
                transition: filter 300ms;
            }

            h5 {
                font-weight: 600;
            }
        }


    }
}

.member-description {
    max-width: 800px;
    margin: 0 auto;

    p {
        text-align: left;
        white-space: break-spaces;
    }

    display: none;

    &.active {
        display: block;
    }
}