header.page {
    text-align: center;
    &.forschungsraum {
        color: $forschungsraum;
    }
    &.next-level {
        color: $white;
    }
    &.freisinn {
        color: $freisinn;
    }
    &.projekte {
        color: $projekte;
    }
}