header.page {
    &.forschungsraum {
        color: darken($forschungsraum, 20%);
        
    }
    &.next-level {
        color: $white;
        
    }
    &.freisinn {
        color: darken($freisinn, 10%);
        
    }
    &.projekte-workshops {
        color: white;
        
    }
    &.coaching {
        color: darken($coaching, 0%);
    }
    
}
main.page {
    color: $dark;
    padding-bottom: 180px;
    padding-top: 50px;
    padding-left: 24px;
    padding-right: 24px;

    @media (min-width: 768px) {
        padding-left: 32px;
        padding-right: 32px;
    }   
    @media (min-width: 1024px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    &.forschungsraum {
        color: darken($forschungsraum, 20%);
        + footer {
            color: inherit;
            background-color: $forschungsraum-background;}

        input, textarea {
            background-color: $forschungsraum;
            color: $white;
        }
        ::placeholder {
            color: white;
        }

    }
    &.next-level {
        color: darken($next-level-pink,10%);
        + footer {
            color: inherit;
            background-color: $next-level-background;}

        input, textarea {
            background-color: $next-level;
            color: $white;
        }
        ::placeholder {
            color: white;
        }

    }
    &.freisinn {
        color: darken($freisinn, 10%);
        + footer {
            color: inherit;
            background-color: $freisinn-background;}

        input, textarea {
            background-color: $freisinn;
            color: $white;
        }
        ::placeholder {
            color: white;
        }

    }
    &.projekte-workshops {
        color: $dark;
        h1 {max-width: 50%;}

        + footer {
            color: inherit;
            background-color: $projekte-workshops-background;}

        input, textarea {
            background-color: $projekte-workshops;
            color: $white;
        }
        ::placeholder {
            color: white;
        }

    }
    &.coaching {
        color: darken($coaching,30%);
        min-height: 40vh;

        + footer {
            color: inherit;
            background-color: $coaching-background;}

        input, textarea {
            background-color: $coaching;
            color: $white;
        }
        ::placeholder {
            color: white;
        }

    }
}

.single-image {
    text-align: center;
    padding: 48px 0;
}
.text-block + .single-image,
.single-image + .text-block {
    margin-top: -50px;
}