.section-tabs {
    max-width: 800px;
    margin: 0 auto;
}
.tabs {
    display: flex; 
    gap:24px;
    @media (min-width: 775px) {
        gap:64px;
    }
    margin-bottom: 16px;
}
.tab {
    font-size: 24px;
    @media (min-width: 775px) {
        font-size: 40px;
    }
    cursor: pointer;
    &.active  {
        font-weight: 600;
    }
}

.tab-content { display: none;}
.tab-content.active  { display: block;}