.text_image_block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    margin: 0 auto 80px;
    gap: 50px;

    &:nth-child(odd) {
        flex-flow: row-reverse;
    }

}